

.parent{
    position: relative;
} 
.box1,.box2,.box3,.box4{
    width: 100px;
    height: 100px;
}
.box1{

    background-color: brown;
}
.box3{
    background-color: blue;
    position: absolute;
    left: 300px;
}
.box2{
    background-color: blueviolet;
}
.box4{
    background-color: aqua;
}